:host {
  font-family: 'Montserrat', sans-serif;

  .layout-container {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100%;

    @media only screen and (max-width: 1023px) {
      padding-top: 150px;
    }
    @media only screen and (max-width: 767px) {
      padding-top: 100px;
    }
  }
  .footer {
    width: 100%;
    margin-top: auto;
  }
  .body-container {
    padding: 20px 40px;

    .col-12 {
      padding: 0;
    }
  }
  .grey-background{
    background-color: #f8f8f8;
  }
}
