:host {
  font-family: 'Montserrat', sans-serif;

  .layout-container {
    background-color: #f8f8f8;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100%;

    @media only screen and (max-width: 1023px) {
      padding-top: 150px;
    }
    @media only screen and (max-width: 767px) {
      padding-top: 100px;
    }
  }
  .footer {
    width: 100%;
    margin-top: auto;
    margin-bottom: 50px;

    &.default {
      color: blue;
    }

    &.lner {
      color: red;
    }

    &.tfw {
      color: yellow;
    }
  }
  .body-container {
    padding: 0;
    .col-12 {
      padding: 0;
    }
  }
  .grey-background{
    background-color: #f8f8f8;
  }
}
