@import "bootstrap/scss/bootstrap";
@import "./scss/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.d-container .mat-mdc-dialog-container .mat-mdc-dialog-surface{
  background: transparent;
  border-radius: 30px;
}
