:host {
  .home {
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }

  .content {
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }
}
